.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.env
.temp_cache_runtime/
temp_git_workdir/
node_modules/
.quartz-cache/
.zip
# Python
__pycache__/
*.pyc